*{
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    background-color: rgb(208, 236, 208);
    color: black;
}

.home{
    display:inline-block;
    align-items: center;
    justify-content: space-between;
    padding: 80px 10%;
    flex-wrap: wrap;
}

.home-content{
    max-width: 600px;
}

.home-content h1{
    font-size: 3rem;
    margin-bottom: 20px;
}

.home-content h3{
    font-size: 22px;
    color: rgb(54, 54, 54);
    margin-bottom: 20px;
}

.home-content p{
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.social-media{
    display: flex;
    gap: 15px;
    margin-bottom: 30px;
}
.social-media a{
    font-size: 2rem;
    color: black;
    transition: color 0.3s ease;
}

.social-media a:hover{
    color: rgb(95, 95, 95);
}

.btn{
    display: inline-block;
    padding:  12px 25px;
    background-color: rgb(17, 17, 158);
    color: white;
    text-decoration: none;
    border-radius: 20px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.btn:hover{
    background-color: rgb(59, 59, 156);
    color: gray;
}

.home-img{
    margin-bottom: 15px;
    max-width: 400px;
    flex: 1;
    display: flex;
    justify-content: center;
}

.home-img img{
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 10px 25px black;
}

.habilidades{
    text-align: center;
    margin: 20px;
}

.descricao{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.descricao div{
    margin-top: 5px;
    padding:  20px 25px;
    background-color: rgb(131, 157, 131);
    border-radius: 20px;
    box-shadow: 0 5px 10px black;
}

.descricao div p{
    margin-top: 4px;
    text-align: left;
    color: white;
}

.sobre div{
    margin:1rem;
    background-color: rgb(107, 146, 92);
    border-radius: 15px;
    color: rgb(0, 0, 0);
}

.sobre div h1{
    padding-top: 1rem;
    margin-left: 3rem;
    color: wheat;
}
.sobre div p{
    margin: 1rem;
    padding-bottom: 2rem;
    color: aliceblue;
}



@media (max-width: 900px) {
    .home{
        flex-direction: column-reverse;
        padding: 50px 5%;
        text-align: center;
    }
    .home-content{
        max-width: 100%;
    }
    .social-media{
        justify-content: center;
    }
    .home-img{
        margin-bottom: 30px;
    }
}